.Edit_Container{
    padding: 5px;

    .Edit_Title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 12px 3px;
        background-color: #eee;
        padding: 10px 0px;
        h3{
            font-size: 25px;
            font-weight: bold;
            font-family: auto;

        
        }
        .BTN{
            padding: 7px;
            border: 1px solid #405189;
            background-color: #405189;
            color: #eee;
            border-radius: 10px;
            font-family: auto;
            
        }

    }
}