@import "@scss/utils/Variables.scss";
@import "@scss/utils/mixins";



.Topbar_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search_item {
    display: flex;
    align-items: center;

  }

  .Icons {
    display: flex;
    align-items: center;
    .lang_flag {
      margin-right: 10px;
      .flag_Btn {
        background-color: #ffffff;
      }

      .Menu_flags {
        .Flag_item {
          text-align: center;
        }
      }
    }

    .bell {
      position: relative;
      margin-right: 20px;
      .Bell_Btns {
        text-decoration: none;
        background-color: #ffffff;
      }
      .Menu_bell {
        padding: 0;
        width: 400px;
        height: 400px;

        .menu_item {
          height: 150px;
          padding: 0px 0px;

          .Notifications {
            background-color: #405189;
            display: flex;
            justify-content: space-between;
            padding: 2px 0px;
            h5 {
              color: #ffffff;
              font-weight: bold;
              font-size: 18px;
              padding: 2px;
              margin: 10px 5px 3px 5px;
            }
            p {
              border: 0.5px solid #ffffff;
              background-color: #ffffff;
              font-size: 12px;
              padding: 4px;
              border-radius: 4px;
              color: black;
              font-weight: bold;
              margin: 10px 5px 3px 5px;
            }
          }
          .Head_nav {
            background-color: #405189;
            padding: 0px 0px;
            .nav_item {
              :hover {
                background-color: #ffffff;
              }

              .navLink {
                color: #aaa2b0;

                :hover {
                  color: #405189;
                }
              }
            }
          }
        }
      }
    }

    .Bel_not {
      position: absolute;
      width: 19px;
      height: 19px;
      font-size: 10px;
      padding: 3px;
      background-color: #f06548;
      color: #ffffff;
      border-radius: 45%;
      right: 7px;
      bottom: 13px;
      text-align: center;
    }
  }

  .Personal_Data {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    .name {
      background-color: #f4f3f9;
      border-radius: 4px;
      padding: 4px 10px;
      display: flex;
      align-items: center;
      cursor: pointer;


      .data {
        background-color: #f4f3f9;
        margin-inline-start: 8px;
        margin-inline-start: 10px;
        @include xs {

          font-size: 15px;
        }
         }

        h5 {
          color: black;
          background-color: #f4f3f9;
          font-family: monospace;
          font-size: 17px;
        }

        p {
          font-family: monospace;
          background-color: #f4f3f9;
        }
      }
    }
    .Menu {
      font-size: 18px;
      font-family: 'Hanken Grotesk', sans-serif;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
      border-color: #f4f3f9;
      width: 80px;
      .menu_item {
        color: #4e5156;
        .Link {
          text-decoration: none;
          color: #4e5156;
        }
      }
    }

    img {
      width: 50px;
      border-radius: 50px;
      margin-right: 20px;

      @include xs {
        width: 35px;
        border-radius: 50px;
        margin-right: 20px;
  
        
        }
  
    }
    h5 {
      font-size: 15px;
      margin-bottom: 2px;
    }
    p {
      color: #aaa2b0;
    }
  }

