.Topbar_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search_item {
    display: flex;
    align-items: center;
  }

  .Icons {
    display: flex;
    align-items: center;
    .lang_flag {
      margin-right: 10px;
    .flag_Btn{
        background-color: #ffffff;
      }

      .Menu_flags{

        .Flag_item{
          text-align: center;
        }
      }

      
    }

    .bell{
      position: relative;
      margin-right: 20px;
      .Bell_Btns{
        text-decoration: none;
        background-color: #ffffff;

      }
      .Menu_bell{
        padding: 0;

        .menu_item{
          width: 300px;
          height: 150px;
          padding: 4px 5px;

          .Notifications{
            background-color: #405189;
            display: flex;
            justify-content: space-between;
            padding: 2px 0px;
            h5{
              color: #ffffff;
              font-weight: bold;
              font-size: 18px;
            }
            p{
              border: 0.5px solid #ffffff;
              background-color: #ffffff;
              font-size: 12px;
              padding: 3px;
              border-radius: 4px;
              color: black;
              font-weight: bold;
          
            }

          }


        }
      }
    }

    .Bel_not{
      position: absolute;
      width: 19px;
      height: 19px;
      font-size: 10px;
      padding: 3px;
      background-color: #f06548;
      color: #ffffff;
      border-radius: 45%;
      right: 7px;
      bottom: 13px;
      text-align: center;
    }


  }

  .Personal_Data {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    .name {
      background-color: #f4f3f9;
      border-radius: 4px;
      padding:4px 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .data {
        background-color: #f4f3f9;
        h5 {
          color: black;
          background-color: #f4f3f9;

        }

        p {
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            background-color: #f4f3f9;

        }
      }
    }
    .Menu{
      font-size: 18px;
      font-family: "Hanken Grotesk", sans-serif;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(56,65,74,.15);
      border-color: #f4f3f9;
      width: 80px;
      .menu_item{
        color: #4e5156;


        .Link{
          text-decoration: none;
          color: #4e5156;

        }
      }
    }

    img {
      width: 50px;
      border-radius: 50px;
      margin-right: 20px;
    }
    h5 {
      font-size: 15px;
      margin-bottom: 2px;
    }
    p {
      color: #aaa2b0;
    }
  }
}
