.Titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 5px 0px;
  
    .Adress{
      font-size: 25px;
      font-family: monospace;
      font-weight: bold;
      padding: 8px;
      color: black;

    }
  
    .Link_Title{
      font-size: 18px;
      font-family: monospace;
      font-weight: bold;
      border: 1px solid #fff5;
      padding: 6px 15px;
      background-color: #fff5;
      color: black;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border-radius: 10px;
      margin-inline-end: 25px;
   
        &:hover{
          background-color: black ;
        
          color:#fff

  
  
    
  
      }
  
  
  
    }
  
  }
  