.AddSubCategory_Head{
    height: 100vh;
    
    h2{
        color: black;
        font-size: 20px;
        margin-inline-start: 20px;
        margin-top: 10px;
        margin-bottom: 25x;

    }
    .inputs{
        margin-inline-start: 20px;
        background-color: #405189;
        border: 1px solid #eee;
        padding: 20px;
        width: 500px;
        border-radius: 20px;
        margin: auto;
        box-shadow: 0 0px 1px 0px #fff;
        .form-Control{
            .selectForm{
                margin-inline-start: 15px;
                background-color: #fff;
                border: 1px solid #eee;
                padding: 16px 90px;
                width: 380px;
                box-shadow: 0 0px 1px 0px #fff;
                margin-bottom: 20px;
                padding: 20px 28px;
            
            
            }
        }

        input{
            padding: 15px 100px;
            border: 1px solid #fff9;
            border-color: #fff;
            border-radius: 6px;
            box-shadow: 0 0px 1px 0px #fff8;
            color: #405189;
            margin: 18px 20px;
            display: block;
            &:hover{
                color: black;
                 border: 1px solid #eee;
            }
        }

        #upload-photo{
            opacity: 0;
            position: absolute;
            z-index: -1;
        }


        .Btn_sub{
            border: 1px solid #fff9;
            padding:4px 25px;
            border-radius: 6px;
            text-align: center;
            margin: 5px 5px 5px 150px;
            border-color: #fff9;
            color: #405189;
            background-color:#FFF;
            &:hover{
                background-color:#405189;
                color: #fff;
            }        
        }
    }

    
    
}

.error{
    background-color: #f16448;
    padding: 8px 8px;
    border-radius: 8px;
    text-align: center;

}