.Layout_Container{
    display: flex;
    
    .Content_Container{

        width: calc(100% - 250px);
        background-color: #f4f3f9;


        .Topabar{
            background-color: #ffffff;
            padding: 0px 15px;

         }
        .Content{

        }

    

    }
    

    }


