@import '../../../../src/assets/scss/utils/mixins';


.Product_Container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 20px;
    .Card{

        @include responsiveView {
            margin:4px;
        }
        @include xs {
            display: block;
        }
    

    }


}