.Review_container{
    height: 100vh;
    margin-inline-start:1px;
    padding-inline-start:1px;
    padding: 30px;

h2{
    padding: 10px;
}
.input{
    padding: 8px 60px;
    background-color: #fff9;
    border-color: #eee;
     border-radius: 5PX;
     display: block;
     margin: 8px;

    
}
.Button{
    margin: 20px;
    background-color: #0ab39c;
    color: #ffffff;
    border: 1px solid #0ab39c;
    padding: 10px 35px;
    
    &:hover{
        background-color: #ffffff;
        color: #0ab39c;}
        border: 1px solid #0ab39c;


}






}
.Card_Rreview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(56,65,74,.15);




    .Btn_Review{
        Button{
            display: block;
            margin: 5px;
            background-color: #0ab39c;
            color: #ffffff;
            border-color: #0ab39c;
            &:hover{
                background-color: #ffffff;
                color: #0ab39c;
                


            }
        
        }
    }
    
}
