* {
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

.Profil_Btn {
  text-decoration: none;
  color: black;
  padding: 0;
}

.Profil_Btns {
  margin-right: 25px;
  :hover{
    background-color: aliceblue;
  }
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  &::after {
    display: none;
  }
}
