@import '../../../assets/scss/utils/mixins';






.Sidebar_Container {
  width: 250px;
  height: 100vh;
  border: 1px solid #eee;
  background-color: #405189;
  overflow-y: auto;



  .Sidebar_Logo {
    margin-bottom: 20px;

    img {
      padding: 22px 6px;
      width: 135px;
      margin-left: 30px;
    }
  }

  .Title {
    margin: 10px 10px 30px 10px;
    color: #7886b5;
  }

  .Sidebar_link {
    font-family: fangsong;
    padding: 0px 20px;
    li {
      list-style: none;
      font-size: 18px;
      letter-spacing: 1.1px;

      .Link {
        margin: 15px 15px 10px 2px;
        color: #eee;

        :hover {
          color: #405189;
        }
      }
    }
  }
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
  }

  &__link {
    display: flex;
    transition: all 0.3s ease-in-out;

    text-decoration: none;
    color: #abb9e8;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    &:hover {
      color: #fff;
      svg {
        fill: #fff;
        path {
          fill: #fff;
        }
      }
    }
  }

  &__icon {
    transition: all 0.3s ease-in-out;
    color: #abb9e8;
    margin-inline-end: 10px;
  }
}
